{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Champbets</title>

    <link rel="stylesheet" href="{% static 'css/pagina.css' %}" />
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}" />
    <link rel="stylesheet" href="{% static 'css/lista.css' %}" />
    <link rel="stylesheet" href="{% static 'css/apostar.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tabla.css' %}" />
    

 
</head>
<body>
    <div class="fondo">
        <div class="menu">
            <ul>
                <a href="{% url 'inicio' %}"><img src="{% static 'images/logo.png' %}"></a>
                <li><a href="{% url 'iniciar' %}">iniciar</a></li>
                <li><a href="{% url 'apuestas' %}">apuestas</a></li>
                <li><a href="{% url 'soporte' %}">Soporte</a></li>
            </ul>
        </div>
        <div class="centro">
             <h1>Apostar</h1>
             <h2 class="deporte"> Deporte:</h2>
             <h2 class="Apuesta"> Evento:</h2>
             <h2 class="fecha"> Fecha:</h2>
             <div class="tabla">
                <table>

                    <thead>
                      <tr>
                        <th>Millonarios </th>
                        <th>1.9</th>
                        <th>Empate</th>
                        <th>3.25</th>
                        <th>Defensa y justicia</th>
                        <th>4.33</th>
                      </tr>
                    </thead>

                  </table>
             </div>

             <div class="monto">
              <label for="monto">monto:</label>
              <input type="text" id="monto" name="monto">
             </div>
             <div class="apostar">
                <button>Apostar</button>
             </div>
             <div class="cancelar">
                <button>Cancelar</button>
             </div>
        </div> 

        <div class="contacto">
            <h1>Contacto</h1>
            <h2>+57 3016529837 - +57 310 4731212</h2>
            <h2>diegomayorga@usantotomas.edu.co</h2>
            <h2>andrescharria@usantotomas.edu.co</h2>
            <h2>Bogotá D.C.</h2>
        </div>
    </div>
</body>
</html>

