<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Champbets</title>

    <link rel="stylesheet" href="../css/pagina.css" />
    <link rel="stylesheet" href="../css/inicio.css" />
    <link rel="stylesheet" href="../css/lista.css" />
    <link rel="stylesheet" href="../css/tabla.css" />
</head>
<body>
    <div class="fondo">
        <div class="menu">
            <ul>
                <a href="inicio.html"><img src="../images/logo.png"></a>
                <li><a href="soporte.html">Soporte</a></li>
                <li><a href="iniciar.html">Iniciar Sesión</a></li>
                <li><a href="apuestas.html">Apuestas</a></li>
            </ul>
        </div>
        <div class="centro">
             <h1>Lista de apuestas</h1>
             <h2 class="deporte"> Deporte:</h2>
             <h2 class="Apuesta"> Apuesta:</h2>
             <h2 class="fecha"> Fecha:</h2>
             <div class="tabla">
                <table>

                    <thead>
                      <tr>
                        <th>Cliente </th>
                        <th>Monto</th>
                        <th>Estado</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Ernesto cadena </td>
                        <td>100.000</td>
                        <td>Ganada</td>
                      </tr>
                      <tr>
                        <td>Diego Mayorga</td>
                        <td>20.000</td>
                        <td>perdida</td>
                      </tr>
                    </tbody>
                  </table>
             </div>
        </div> 

        <div class="contacto">
            <h1>Contacto</h1>
            <h2>+57 3016529837 - +57 310 4731212</h2>
            <h2>diegomayorga@usantotomas.edu.co</h2>
            <h2>andrescharria@usantotomas.edu.co</h2>
            <h2>Bogotá D.C.</h2>
        </div>
    </div>
</body>
</html>

